/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Custom properties */
:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: #fff;
    --hover-dark-color: #131417;
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

/* Base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 60%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: #afb6cd;
    background-color: #131417;
    letter-spacing: 1px;
    transition: background-color .25s,color .25s;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
}

i{
    font-size: 2.4rem;
}

/* Reusable classes */
.container{
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.place-items-center{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.d-grid{
    display: grid;
}

.screen-sm-hidden{
    display: none;
}
/* Header */
.header{
    background-color: #252830;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.headerPics{
  width:33%
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.logo{
    font-size: 2.4rem;
    color: #fff;
}

.menu{
    position: absolute;
    top: 8.5rem;
    right: 1.5rem;
    width: 23rem;
    padding: 1.5rem;
    background-color:#252830;
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s ease-in;
}

.list{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu > .list{
    flex-direction: column;
}

.list-link.current{
    color: #fff;
}

.close-menu-icon{
    display: none;
}

.btn{
    cursor: pointer;
}

.list-link:hover,
.btn:hover,
.btn:hover span{
    color: #fff;
}

.moon-icon{
    display: none;
}

.light-theme .sun-icon{
    display: none;
}

.light-theme .moon-icon{
    display: block;
}


.section-header-offset{
    margin-top: 7.4rem;
}


.headline-banner{
    background-color: #252830;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
}

.headline{
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    padding: 4px;
    height: 100%;
}

.headline span{
    height: inherit;
}


.article{
    position: relative;
    min-height: 30rem;
}

.article-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s;
}

.article-category{
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    background-color:#131417;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    z-index: 10;
}

.article-data-container{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2rem 1.5rem;
    background-color: rgba(0,0,0,.75);
    z-index: 10;
    transition: background-color .5s;
}

/* Light theme color hover styles */
.article:hover .article-data-container{
    background-color: #131417;
    color: #fff;
}

.article:hover .article-data-spacer{
    background-color: #fff;
}

.article:hover .article-title{
    color: #fff;
}


.article-data{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.article-data-spacer{
    width: .5rem;
    height: .5rem;
    background-color: #afb6cd;
    transform: rotate(45deg);
}

.title{
    color: #fff;
    font-family: cursive;
    font-weight: normal;
    font-style: italic;
}

.article-title{
    font-size: 2.4rem;
}

/* Sidebar */
.sidebar{
    background-color: #252830;
    padding: 2.5rem;
}

.trending-news-box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 2rem;
    border-bottom: 1px solid rgba(255,255,255,.05);
}

.trending-news-box:last-of-type{
    border-bottom: none;
}

.featured-content-title{
    font-size: 2.4rem;
    text-align: center;
    padding: 1rem;
}

.trending-news-img-box{
    position: relative;
    width: 100%;
    height: 20rem;
}

.trending-number{
    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: 15;
    width: 3rem;
    height: 3rem;
    background-color: #252830;
    color: #fff;
    border-radius: 50%;
}

.trending-news-data .article-title{
    font-size: 1.6rem;
}

.trending-news-box:hover .article-title{
    color: #afb6cd;
}

/* Quick read */
.section-title{
    position: relative;
    font-size: 2.4rem;
    margin-bottom: 6rem;
}

.section-title::after{
    content: attr(data-name);
    font-size: 3rem;
    text-transform: uppercase;
    opacity: .1;
    position: absolute;
    top: 1.5rem;
    left: 2rem;
}


/* latest posts */
.latest-posts-grid-wrapper{
    gap: 2rem;
}

.latest-posts-article-image-wrapper,
.latest-posts .article{
    min-height: 20rem;
}

.latest-posts .article{
    background-color: #252830;
}

.latest-posts-article-image-wrapper{
    position: relative;
}

.latest-posts-grid-wrapper .article-data-container{
    position: static;
    background-color: transparent;
}

.latest-posts-grid-wrapper .article-title{
    margin-bottom: 2rem;
}

.see-more-container{
    padding-top: 3rem;
}


/* Footer */
.footer{
    background-color: #252830;
}

.footer-container{
    gap: 2rem;
}

.company-data{
    display: flex;
    flex-direction: column;
    order: 1;
}

.company-description{
    margin-block: 2rem;
    max-width: 75%;
}

.social-media{
    margin-bottom: 3rem;
}

.copyright-notice{
    opacity: .8;
}

.footer-list{
    flex-direction: column;
    align-items: flex-start;
}

.footer-title{
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}


/* Blog post */
.blog-post{
    padding-bottom: 5rem;
}

.blog-post-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 2.5rem;
}

.blog-post-title{
    font-size: clamp(3rem, 5vw, 6rem);
}

.blog-post-data .article-data{
    margin-bottom: 2.5rem;
}

.blog-post-data img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center 10%;
}

.blog-post-container .container{
    max-width: 90rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.quote{
    background-color: #252830;
    padding: 2.5rem;
}

.quote p{
    font-style: italic;
}

.quote span{
    font-size: 5rem;
}

.quote-author{
    font-style: normal;
    font-size:1.75rem;
}

.subscribe-text{
  align-self: center;
}
.subscribe-text-div{
  align-items: center;
  align-content: center;
}
.subscribe-textbox{
    background-color: #FFF;
    color: black;
    align-self: center;
    height:30px;
}
.submit-button{
  background-color: #FFF;
  color: black;
  align-self: center;
  height:30px;
  width: 100px;
  font-style: oblique;
}
.submit-button:hover{
  background-color:#131417;
  color:#fff;
}
@media screen and (min-width: 700px) {

    .trending-news-box{
        flex-direction: row;
        align-items: center;
    }

    .trending-news-img-box{
        width: 50%;
    }

    .trending-news-data{
        margin: auto;
        text-align: center;
    }

    .newsletter-description{
        max-width: 40rem;
    }

    .form-container-inner{
        align-items: center;
    }

    .popular-tags-container,
    .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .company-data{
        order: 0;
    }

    .author{
        grid-template-columns: 25rem 1fr;
    }
}

@media screen and (min-width: 768px) {


    .headline-banner{
        grid-column: 1/-1;
        font-size: 1.6rem;
    }


    .latest-posts .article{
        grid-template-columns: 25rem 1fr;

    }

    .latest-posts-article-image-wrapper{
        height: auto;
    }

    .blog-post-data img{
        height: 30rem;;
    }
}

@media screen and (min-width: 1024px) {
    .menu{
        position: static;
        width: initial;
        padding: initial;
        background-color: transparent;
        opacity: 1;
        transform: scale(1);
    }

    .menu > .list{
        flex-direction: row;
    }

    .screen-lg-hidden{
        display: none;
    }

    .screen-sm-hidden{
        display: block;
    }

    .sign-up-btn{
        padding: 4px;
    }

    /* Fancy button animation effect */
    .btn.fancy-border:hover::before{
        animation: animate_border .75s linear infinite
    }

    @keyframes animate_border{
        to{
            transform:translateX(-50%)
        }
    }


    .trending-news-img-box{
        width: 10rem;
        height: 10rem;
    }

    .popular-tags-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-container{
        grid-template-columns: repeat(5, 1fr);
    }

    .company-data{
        grid-column: span 2;
    }

    .company-description{
        max-width: 85%;
    }

    .copyright-notice{
        margin-top: auto;
    }

    .blog-post-data img{
        height: 40rem;
    }
}

@media screen and (min-width: 1200px) {
    .latest-posts-grid-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}
